
 *{
    color: white;
}

 


a{
    text-decoration: none;
}








.objective{

    font-family: "Audiowide", sans-serif;
}





.my-info{
    
    margin-top:30px ;
}





.education{
   margin-top: 20%;
   margin-bottom: 10%;
}







 .boody{
    
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
    



     

.btn-primary{

    margin-top:50px;
}




.card{

   
   background-image: url(./images/background.jpg); 
   box-shadow: 0 30px 35px  #0b2e79b6;
}





















#odaymargin{
    margin-top: 60px;
}





.img_logo{
    height:150px;
    width:100px;
    border-radius:40% ;   
}




 
















 #odyapic{
    border-radius:50% ;
    border: #242b3d7d solid 2px;
    
    margin: 50px 0 20px;
    background-color: #97979d2d;; 

} 




















 /* navbar */

.navbar{
   
   
    z-index:999 ;
    
    position: fixed;
    background-color: rgba(211, 206, 206, 0.375);
    border-radius: 30px 100px 30px 100px;
    justify-items: space-between;
  
    
 }









 

 .nav-item a{color: rgb(255, 255, 255);}

 .nav-item a:hover  {color: rgb(13, 45, 174);
    color: #edda08c8;

}










 /* HEADER: Contact Section */



 .contact-info{
    margin-top: 50px;
    padding-top: 70px;
 }



 .contact-info .contact-span{
    margin: 10px;
 }




 .objective{
    margin-top: 50px;
    font-size: 20px;
 }



 
 #education{
    position: relative;
    top: 200px;
    left: 100px;
    font-family: "Audiowide", sans-serif;
    color:#1604CF;
    color: #edda08c8;
 }

 



 #skills{
    position: relative;
    top: 200px;
    left: 100px;
    font-family: "Audiowide", sans-serif;
    color:#1604CF;
    color: #edda08c8;
 }




.skills{
    margin-top:10%;
    margin-bottom:10% ;

}




.pr{
    margin-bottom: 10%;

}



 .listskills{
    
    margin-top:150px ;
    width: 250px;
    margin-left: 110px;
 }




 .cardproj{
    margin-top:150px ;
    margin-left: 0px;

 }



 .project{
     position: relative; 
    top: 200px;
    left: 100px;
    font-family: "Audiowide", sans-serif;
    color:#1604CF;
    color: #edda08c8;
    
}






 /* footer */
 .footer{
    color: aliceblue;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    background-color: #04123000;
    width: 100%;
    height:17vh ;

    
}
#fotr{
    font-size: 32px;
    color: aliceblue;
    margin-right: 7px;

}
#fotr:hover{color: #5935dc;

    color: #edda08c8;
}



#fullstack{
    color: #edda08c8;
}
.ol{
    color: #1604CF;
}


.boody{
    overflow-x: hidden;
}

.textmuted{
    color: #edda08c8;
}
.fa-solid{
    text-transform: lowercase;
}
.hoverbutton :hover{
    color: #edda08c8;


}

@media(max-width:600px){
    #skills{
        display: none;
    }
 }

 .imgg{
    width: 50px;
    height: 50px;
    background-color:#edda08c8 ;
    border-radius: 50px;
     margin-left: 970px; 
    
 }